In [37]:
import pandas as pd 
import getpass

In [38]:
df=pd.read_csv("./Input/GSAF5.csv", encoding="UTF-8")
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [39]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [44]:
null_cols = df.isnull().sum()
print(null_cols[null_cols > 0])
df.size

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

143808

In [45]:
'''
Elegimos las columnas con datos relevantes a mi estudio. Los pdf, columnas repetidas y los 
nombres de las personas afectadas no me interesan,por ello las eliminamos.
'''
drop_cols = ['Name', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Unnamed: 22','Unnamed: 23']
data_f = df.drop(drop_cols, axis=1)
data_f.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",5989
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",5986
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",5985
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",5984

In [54]:

null_displ = data_f[(data_f['Country'].isnull()==True)]
null_displ = null_displ[['Year', 'Area','Location','Country','Sex ']]
null_displ

,Year,Area,Location,Country,Sex
303,2014,NaN,NaN,NaN,M
2731,1983,English Channel,NaN,NaN,M
3153,1970,NaN,NaN,NaN,M
3162,1970,Caribbean Sea,Between St. Kitts & Nevis,NaN,NaN
3163,1970,NaN,NaN,NaN,M
3170,1970,NaN,NaN,NaN,M
3174,1970,NaN,NaN,NaN,F
3200,1969,NaN,NaN,NaN,M
3379,1965,NaN,Florida Strait,NaN,M
3435,1964,NaN,NaN,NaN,M
3792,1960,"Between Timor & Darwin, Australia",NaN,NaN,NaN
4005,1956,Near the Andaman & Nicobar Islands,NaN,NaN,M
4040,1956,Between Comores & Madagascar,Geyser Bank,NaN,M
4271,1949,Caribbean Sea,Between Cuba & Costa Rica,NaN,M
4412,1944,NaN,225 miles east of Hong Kong,NaN,M
4473,1942,Off South American coast,NaN,NaN,M
4485,1942,300 miles east of St. Thomas (Virgin Islands),NaN,NaN,M
4499,1942,NaN,NaN,NaN,M
4502,1942,NaN,NaN,NaN,M
4681,1935,NaN,NaN,NaN,F
4790,1931,French Southern Territories,Île Saint-Paul,NaN,M
5189,1909,NaN,Near the equator,NaN,M
5346,1898,NaN,NaN,NaN,M
5347,1898,NaN,NaN,NaN,M
5370,1897,Mediterranean Sea,NaN,NaN,M
5394,1895,NaN,NaN,NaN,M
5525,1885,NaN,NaN,NaN,M
5558,1881,Western Banks,NaN,NaN,M
5560,1881,NaN,Santa Cruz,NaN,M
5589,1878,NaN,NaN,NaN,M
5632,1874,NaN,NaN,NaN,M
5664,1869,NaN,NaN,NaN,M
5723,1856,NaN,NaN,NaN,M
5729,1855,NaN,NaN,NaN,M
5827,1811,NaN,NaN,NaN,M
5847,1742,NaN,Carlisle Bay,NaN,M
5856,1638,NaN,NaN,NaN,M
5862,1555,NaN,NaN,NaN,M
5866,77,Ionian Sea,NaN,NaN,M
5868,0,Ionian Sea,NaN,NaN,M
5889,0,NaN,NaN,NaN,M
5896,0,NaN,In a river feeding into the Bay of Bengal,NaN,F
5949,0,NaN,NaN,NaN,NaN

In [ ]:
null