In [6]:
import pandas as pd
df = pd.read_csv('./Output/SharckAttack_dfClean.csv')

In [7]:
display(df)

,Case Number,Date,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Surfing,M,16,Minor injury to thigh,N,13h00,NaN,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Surfing,M,36,Lacerations to hands,N,11h00,NaN,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5307,1900.07.14,14-Jul-00,1900,Invalid,USA,Hunting seashells,M,NaN,"Believed drowned. Uhlbrecht’s foot, and the pe...",Y,NaN,NaN,673
5308,1900.07.00,Late Jul-1900,1900,Provoked,USA,,NaN,NaN,"No injury to occupants. They shot shark, then ...",N,NaN,NaN,672
5309,1900.01.28,28-Jan-1900,1900,Unprovoked,AUSTRALIA,"Standing, gathering oysters",M,NaN,Right posterior thigh bitten,N,12h00,NaN,671
5310,1900.00.00.b,Early 1900s,1900,Unprovoked,USA,NaN,M,NaN,Severe abrasion when shark swam between his legs,N,NaN,NaN,670
5311,1900.00.00.a,Ca. 1900,1900,Unprovoked,SOUTH AFRICA,Swimming,M,NaN,Leg severed,N,Early morning,NaN,669

In [8]:
'''Estudiamos si en los últimos años han sobrevivido más  personas a los ataques de tiburón.'''
años=df['Year'].value_counts().sort_index()
años

1900     13
1901      9
1902     15
1903     10
1904     13
       ...
2012    117
2013    122
2014    124
2015    139
2016    103
Name: Year, Length: 117, dtype: int64

In [ ]:
#null_displ = data_f[(data_f['Age'].isnull()==True)]
#null_displ = null_displ[['Year','Sex ','Age']]
#null_displ